# Byte-compiled / cache
_pycache_/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
.venv/
env/
ENV/

# VSCode or PyCharm config
.vscode/
.idea/

# Python egg
*.egg-info/
dist/
build/

# Environment variables / secrets
.env
*.env

# SQLite DB or local dev DBs (if used)
*.db

# Alembic
alembic/versions/*.pyc

# OS files
.DS_Store
Thumbs.db